<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- database connection properties --><!--
  <properties embedded="Net.Arqsoft.JuOffice.Gui.SqlConnection.config, JuOffice3"/>-->

  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="false"/>
    <setting validateSqlMap="true"/>
    <setting useReflectionOptimizer="true"/>
  </settings>

  <!--<providers embedded="providers.config, rndTestConsole"/>-->

  <database>
    <provider name="sqlServer2008"/>
    <dataSource name="MainDataSource"
     connectionString="
      Data Source=.\SQLEXPRESS;
      Initial Catalog=JuOffice;
      User ID=JuOffice3;
      Password=jo3X500;
      Integrated Security=False
     "/>
  </database>

  <sqlMaps>
    <!-- embedded resources using [extendednamespace.]filename, assemblyname -->
    <sqlMap resource="CrewMemberMap.xml" />
  </sqlMaps>
</sqlMapConfig>